body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #ff8c00;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

#hero {
    font-size: 1.4em ;
    background-color: #008080;
    color: #ffffff;
    text-align: center;
    padding: 50px;
}

#featured {
    background-color: turquoise;
    color: #023b3b;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    border: 5px solid #008080;   
    
}


#tips {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    background-color: #023b3b;
    color:white;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    border: 5px solid turquoise;
}

#flex-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 20px;
}

.flex-item {
    background-color: #008080;
    color: #ffffff;
    text-align: center;
    padding: 20px;
    margin: 10px;
    flex: 1;
    border: 5px solid #ff8c00;
    padding: 10px; 
    margin: 10px; 
}


#runners_pics1 {
    width: 40%;
    height: 300px;
}

#runners_pics2 {
    width: 40%;
    height: 300px;


}

#runners_pics3 {
    width: 40%;
    height: 300px;


}

img {
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}




.gear-brand {
    flex: 0 0 45%; 
    background-color: #008080;
    color: #ffffff;
    border: 2px solid #004040;
    padding: 20px;
    margin: 10px;
    text-align: center;
    box-sizing: border-box;

}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    position: relative;
}


@media screen and (min-width: 576px) {
    header {
      background:  #ff8c00;
      color: white;
    }
  }
  
  @media screen and (min-width: 768px) {
    header {
      background:  #ff8c00;
      color: white;
    }
  }
  
  @media screen and (min-width: 992px) {
    header {
      background:  #ff8c00;
      color: white;
    }
  }
  
  @media screen and (min-width: 1200px) {
    header {
      background:  #ff8c00;
      color: white;

    }
  }


  a {
    text-decoration: none;
    color: #ffffff;
}

#signup-form {
    flex: 1;
    background-color: #008080;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    margin-top: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

button {
    background-color: #ff8c00;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #ffaa33;
}

#confirmationMessage,
#homeButton {
    display: none;
    margin-top: 20px;
}

#confirmationMessage {
    color: #ffffff;
}

#homeButton {
    background-color: #ff8c00;
    color: #ffffff;
    padding: 10px;
    cursor: pointer;
}

#homeButton:hover {
    background-color: #ffaa33;
}

footer {
    background-color: #333333;
    color: #ffffff;
    text-align: center;
    padding: 10px;
}